@import '../../../styles/config/colors'

.card__form
    font-family: 'Montserrat', sans-serif
    width: 300px
    height: 400px
    background: white
    box-shadow: 0px 3px 10px $boxShadowColor
    margin-top: 80px
    margin-right: 50px
    padding: 20px 50px 20px 50px

    &__label
        color: $secondaryText
        font-size: 28px
        margin-bottom: 20px

    &__field
        width: 100%

.table
    position: relative
    font-family: 'Montserrat', sans-serif
    width: 720px;
    height: 425px
    background: white
    margin-top: 80px
    box-shadow: 0px 3px 10px $boxShadowColor
    text-align: left
    color: $secondaryText
    padding: 15px 30px 0 30px

    &__row
        width: 100%
        height: 55px
        display: flex
        flex-direction: row
        border-bottom: 1px solid $borderColor
        font-size: 14px

        &__head
            display: flex
            flex-direction: column
            justify-content: center
            width: 145px
            padding: 0 20px 0 20px

            & a
                cursor: pointer
                position: relative

            &__arrow
                font-size: 14px
                width: 20px
                text-align: center
                position: absolute
                top: 1px

        &__element
            display: flex
            flex-direction: column
            justify-content: center
            width: 145px
            padding: 0 20px 0 20px
            color: black

    &__paginator
        position: absolute
        right: 30px
        bottom: 30px
        display: flex
        flex-direction: row
        flex-wrap: wrap
        padding-right: 30px
        justify-content: flex-end

        &__control
            font-size: 32px
            border-radius: 100%
            cursor: pointer
            color: #dcdcdc

        &__desc
            margin: 10px 15px 0 0
            
    &__hint
        position: absolute
        left: 40px
        bottom: 45px
        font-size: 12px

