<!--The filter form on the left side of the screen: label and 5 inputs (1 datepicker) -->
.card
    form(class="card__form" [formGroup]="filterTable" autocomplete="false")
        .card__form__label Filter table
        mat-form-field(class="card__form__field")
            input(matInput placeholder="First name" formControlName="firstName" [(ngModel)]="filterFirstName" (keyup)="filterData()")
        mat-form-field(class="card__form__field")
            input(matInput placeholder="Last name" formControlName="lastName" [(ngModel)]="filterLastName" (keyup)="filterData()")
        mat-form-field(class="card__form__field")
            input(#date matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date" (dateChange)="setDate(date.value)")
            mat-datepicker-toggle(matSuffix [for]="picker")
            mat-datepicker(#picker)
        mat-form-field(class="card__form__field" )
            input(matInput placeholder="Company" formControlName="company" [(ngModel)]="filterCompany" (keyup)="filterData()")
        mat-form-field(class="card__form__field" )
            input(matInput placeholder="Note" formControlName="note" [(ngModel)]="filterNote" (keyup)="filterData()")

<!--Table of employee’s personal data -->
.table
    .table__row
       .table__row__head 
            a((click)="sortElements('firstName')") First name
                i.material-icons(class="table__row__head__arrow" *ngIf="sortedAscOrDesc == 'asc' && sortedBy == 'firstName'") arrow_upward
                i.material-icons(class="table__row__head__arrow" *ngIf="sortedAscOrDesc == 'desc' && sortedBy == 'firstName'") arrow_downward
       .table__row__head 
            a((click)="sortElements('lastName')") Last name 
                i.material-icons(class="table__row__head__arrow" *ngIf="sortedAscOrDesc == 'asc' && sortedBy == 'lastName'") arrow_upward
                i.material-icons(class="table__row__head__arrow" *ngIf="sortedAscOrDesc == 'desc' && sortedBy == 'lastName'") arrow_downward
       .table__row__head 
            a((click)="sortElements('dateOfBirth')") Date of birth 
                i.material-icons(class="table__row__head__arrow" *ngIf="sortedAscOrDesc == 'asc' && sortedBy == 'dateOfBirth'") arrow_upward
                i.material-icons(class="table__row__head__arrow" *ngIf="sortedAscOrDesc == 'desc' && sortedBy == 'dateOfBirth'") arrow_downward
       .table__row__head 
            a((click)="sortElements('company')") Company 
                i.material-icons(class="table__row__head__arrow" *ngIf="sortedAscOrDesc == 'asc' && sortedBy == 'company'") arrow_upward
                i.material-icons(class="table__row__head__arrow" *ngIf="sortedAscOrDesc == 'desc' && sortedBy == 'company'") arrow_downward
       .table__row__head 
            a((click)="sortElements('note')") Note 
                i.material-icons(class="table__row__head__arrow" *ngIf="sortedAscOrDesc == 'asc' && sortedBy == 'note'") arrow_upward
                i.material-icons(class="table__row__head__arrow" *ngIf="sortedAscOrDesc == 'desc' && sortedBy == 'note'") arrow_downward

    .table__row(#list *ngFor="let element of listOfPersons | sort:sortedBy:sortedAscOrDesc | pagination:pageSize:currentPage")
       .table__row__element {{element.firstName}}
       .table__row__element {{element.lastName}}
       .table__row__element {{element.dateOfBirth | slice:0:element.dateOfBirth.length-5}}
       .table__row__element {{element.company}}
       .table__row__element {{element.note}} 

    .table__paginator
        .table__paginator__desc {{(currentPage-1)*pageSize + 1}} - {{currentPage*pageSize}} of {{ (listOfPersons?.length) }}
        button(mat-icon-button [disabled] = "currentPage == 1" (click)="prevPage()")
            i.material-icons(class="table__paginator__control") keyboard_arrow_left
        button(mat-icon-button [disabled] = "currentPage >= ((listOfPersons?.length)/5)" (click)="nextPage()")
            i.material-icons(class="table__paginator__control" ) keyboard_arrow_right
    .table__hint *click on column header to sort by attribute

        
        