@import '~@angular/material/_theming.scss';

@include mat-core();

$app-blue: $primaryColor;
$app-blue-set: (
  50: lighten($app-blue, 55%),
  100: lighten($app-blue, 50%),
  200: lighten($app-blue, 40%),
  300: lighten($app-blue, 25%),
  400: lighten($app-blue, 5%),
  500: $app-blue,
  600: darken($app-blue, 3%),
  700: darken($app-blue, 5%),
  800: darken($app-blue, 10%),
  900: darken($app-blue, 14%),
  A100: desaturate(lighten($app-blue, 30%), 20%),
  A200: saturate(lighten($app-blue, 10%), 20%),
  A400: saturate(darken($app-blue, 2%), 20%),
  A700: saturate(darken($app-blue, 10%), 20%),
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white
  )
);

$md-light-theme-foreground: (
  base:            $textColor,
  divider:         rgba(black, 0.12),
  dividers:        rgba(black, 0.12),
  disabled:        rgba(black, 0.38),
  disabled-button: rgba(black, 0.38),
  disabled-text:   rgba(black, 0.38),
  hint-text:       rgba(black, 0.38),
  secondary-text:  rgba(black, 0.54),
  icon:            rgba(black, 0.54),
  icons:           rgba(black, 0.54),
  text:            rgba(black, 0.87)
);

$app-primary: mat-palette($app-blue-set, 500, 100, 700);
$app-accent:  mat-palette($app-blue-set, 500, 100, 700);
$app-warn:    mat-palette($mat-red);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
@include angular-material-theme($app-theme);
