@import '../../styles/config/colors'

.container
    width: 100%
    height: 100%
    overflow: hidden
    background: $backgroundColor

    table
        width: 100%
        height: 100%
        margin-top: 70px
        display: flex
        justify-content: center
        overflow: auto