@import '../../../styles/config/colors'

.navbar
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 60px
    z-index: 100
    background: white
    box-shadow: 0px 3px 10px $boxShadowColor
    font-family: 'Pathway Gothic One', sans-serif
    font-size: 45px
    font-weight: bold
    letter-spacing: -1px
    padding-top: 10px

    &__black
        margin-left: 30px 

    &__color
        color: $layoutColor