<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= htmlWebpackPlugin.options.title %></title>

  <meta name="version" content="<%= htmlWebpackPlugin.options.appVersion %>">
  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">
  <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.css?ver=2">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Pathway+Gothic+One" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link href="/assets/fonts.css" rel="stylesheet">
  
  <% if (webpackConfig.htmlElements.headTags) { %>
  <!-- Configured Head Tags  -->
  <%= webpackConfig.htmlElements.headTags %>
  <% } %>

  <!-- base url -->
  <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">

  <!-- loading spinner min style -->
  <style>html,body{background-color:#f8f8f8;}.app-loader{position:absolute;top:50%;left:50%;margin:-20px 0 0 -20px;text-align:center;-webkit-animation-name:app-loader-spin;-webkit-animation-duration:1000ms;-webkit-animation-iteration-count:infinite;-webkit-animation-timing-function:linear;-moz-animation-name:app-loader-spin;-moz-animation-duration:1000ms;-moz-animation-iteration-count:infinite;-moz-animation-timing-function:linear;-ms-animation-name:app-loader-spin;-ms-animation-duration:1000ms;-ms-animation-iteration-count:infinite;-ms-animation-timing-function:linear;animation-name:app-loader-spin;animation-duration:1000ms;animation-iteration-count:infinite;animation-timing-function:linear;}.app-loader::before{content:'';width:40px;height:40px;display:block;background:url(/assets/img/app-loader.svg) no-repeat center;}@-ms-keyframes app-loader-spin{from{-ms-transform:rotate(0deg);}to{-ms-transform:rotate(360deg);}}@-moz-keyframes app-loader-spin{from{-moz-transform:rotate(0deg);}to{-moz-transform:rotate(360deg);}}@-webkit-keyframes app-loader-spin{from{-webkit-transform:rotate(0deg);}to{-webkit-transform:rotate(360deg);}}@keyframes app-loader-spin{from{transform:rotate(0deg);}to{transform:rotate(360deg);}}</style>

  <script type="text/javascript" src="https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.js"></script>
  
</head>

<body>

  <app>
    <div class="app-loader"></div>
  </app>

  <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>


</body>
</html>
